GOPAY_PAYMENTS_V4_BASE_URL=https://stoplight.io/mocks/gopay-api/merchant-v4/10757016
GOPAY_PAYMENTS_V4_CLIENT_ID=
GOPAY_PAYMENTS_V4_CLIENT_SECRET=
GOPAY_PAYMENTS_V4_GOID=
GOPAY_PAYMENTS_V4_SHAREABLE_KEY=
